{% extends "base.html" %}


{% block content %}

    
     <!--================================ Bollywood News start ==================================================-->
     <section class = "Bollywood my-5">
      <div class="row">
        <div class="col-md-5 p-3">
          <img src="/media/{{news.photo}}" width = "600px" height = "300px" alt="">
        </div>
        <div class="col-md-6 p-3">
          <h1>{{news.heading}}</h1>
          <p>{{news.description | safe}}</p>
          <!-- truncatewords is removed here berfore 'safe' because we have to show the full news -->
          <p>{{news.date}}</p>
        </div>
        <div class = "comment pe-5 ps-5">
          <form method = "post">
            {% csrf_token %}
            {% for input in form %}
              {{input}}
            {% endfor %}
          <input type="submit" class = "btn btn-success ms-2 mt-2 "value="Submit Comment">
          </form>
        </div>
        <div class="comments my-5">
          {% for comment in comments reversed %}
          <div class="card m-5">
            <div class="card-header">
              {{comment.name}}
            </div>
            <div class="card-body">
              <p class="card-text">
                {{comment.comment}}
              </p>
              <a href="#" class="btn btn-primary">Delete</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
          <!-- single data is coming so need of for loop and this all data is copied from the bollywood.html -->
    </section>

    <!--================================ Bollywood News end ==================================================-->


{% endblock content %}
 
